@{
    ViewBag.Title = "View Recommendations!";
}
<h2 >@ViewBag.Title</h2>
@model collaborative_filtering.Models.ReviewItem
<div id="recommendation" class="row">
    <h3>We Recommend...</h3>
    <h4>@Html.ValueFor(r => Model.Name)</h4>
    <p>@Html.ValueFor(r => Model.Description)</p>
    <p>We think you would rate this item with @Html.ValueFor(r => Model.recommendation.EstimatedRating) stars</p>
</div>
<div class="row">
    <p class="btn btn-default">@Html.ActionLink("Generate a new recommendation", "ViewRec")</p>
</div>